* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --header-height: 5rem;
    --footer-height: 2rem;
    --main-height: calc(100vh - var(--footer-height) - var(--header-height));
    --bg-color: #1f2937;
    --ol-color: #4b5563;
    --btn-bg-color: #374151;
    --text-color: #e5e7eb;
    --x-color: #D19A66;
    --o-color: #61AFEE;
    --board-bg-color: #E06B74;
}

body {
    background-color: var(--bg-color);
}

header {
    height: var(--header-height);
    border-bottom: 1px solid var(--ol-color);
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.choose {
    background-color: var(--btn-bg-color);
    border: 1px solid var(--ol-color);
    font-size: 3rem;
    padding: 0em 1.3em;
    border-radius: 0.3rem;
}

#X {
    color: var(--x-color);
}

.sel-x {
    border: 1px solid var(--x-color);
}

.sel-o {
    border: 1px solid var(--o-color);
}

#restart {
    background-color: var(--btn-bg-color);
    border: 1px solid var(--ol-color);
    padding: 0.5em 1em;
    border-radius: 0.3rem;
}

#restart svg {
    width: 30px;
    fill: var(--text-color);
}

#O {
    color: var(--o-color);
}

#diff {
    background-color: var(--btn-bg-color);
    border: 1px solid var(--ol-color);
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 0.3rem;
    color: var(--text-color);
}

main {
    height: var(--main-height);
    display: grid;
    align-content: center;
    justify-content: center;
}

.board {
    display: grid;
    background-color: var(--board-bg-color);
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 1rem;
}

.quadrant {
    background-color: var(--bg-color);
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 10rem;
}

@keyframes place {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes win {
    0% {
        filter: saturate(100%);
        transform: scale(1);
    }
    100% {
        filter: saturate(150%);
        transform: scale(1.2);
    }
}

@keyframes lose {
    0% {
        filter: saturate(100%);
    }
    100% {
        filter: saturate(20%);
        transform: scale(0.8);
    }
}

@keyframes draw {
    0% {
        filter: saturate(100%);
        transform: scale(1);
    }
    100% {
        filter: saturate(20%);
        transform: scale(0.8);
    }
}

.mark-X {
    color: var(--x-color);
    animation: place 0.35s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}

.mark-O {
    color: var(--o-color);
    animation: place 0.35s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}

.quad-filter {
    animation: lose 0.5s both;
}

.quad-filter-win {
    animation: win 0.5s both;
}

.draw-filter {
    animation: draw 0.5s both;
}

footer {
    height: var(--footer-height);
    display: grid;
    grid-template-columns: auto 30px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-top: 1px solid var(--ol-color);
    color: var(--text-color);
    fill: var(--text-color);
}
